@font-face {
  font-family: 'Outfit';
  src: url('fonts/Outfit-Regular.ttf?v=2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('./images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 800px;
  height: 600px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-and-logo {
  position: absolute;
  top: 90px;
  left: 140px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-and-logo img {
  height: 200px;
  width: auto;
}

.text-overlay {
  font-size: 40px;
  color: white;
}

.countdown {
  position: absolute;
  top: 310px;
  left: 125px;
  z-index: 2;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.character {
  position: absolute;
  right: -70px;
  height: 650px;
  z-index: 2;
}

.character img {
  height: 100%;
}

.download-button {
  position: absolute;
  top: 370px;
  left: 184px;
  z-index: 2;
  display: none;
  cursor: pointer;
  text-align: center;
}

.download-button img:hover {
  filter: brightness(70%);
  transition: filter 0.2s ease;
}

.download-button.disabled {
  filter: brightness(50%);
  pointer-events: none;
}

.download-button img {
  width: 400px;
  height: auto;
}

.download-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  pointer-events: none;
}
